<header>
    <app-navigation></app-navigation>
</header>

<div id="jumbotron">
    <app-homepage-jumbotron></app-homepage-jumbotron>
</div>

<h1>My Portfolio</h1>

<p>I have had the privilege of working with over <strong>{{count}}</strong> of the most amazing companies and even more amazing people!</p>

<div class="posts">
    <div class="row" *ngFor="let item of items">
        <app-work-item [item]="item"></app-work-item>
    </div>
</div>

<footer>
    <app-navigation></app-navigation>
</footer>