// Imports
@import '../../scss_variables/variables';

// Header styles
header {
    height: 0;
    position: relative;
    top: 20px;
}

app-homepage-jumbotron {
    height: calc(40vh);   
    display: flex;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    margin-bottom: 75px;
}

.posts {
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: $gray;

    .row {
        width: 22%;
        padding: 25px;
        text-align: center;
    }
}

// Footer styles
footer {
    background: $black;
    padding: 15px 0;
}