<div class="content">
  <div class="inner">
    <h2>Who the heck am I anyway?</h2>

    <p>
        My name is Jason Blanda. I’m a husband, website developer, author, speedrunner, and bassist. I have been professionally developing and deploying websites using the Drupal content management system for over 7 years. I run the OneStop How to Guys YouTube channel, offering a wide variety of free educational courses.
    </p>
  </div>
</div>
