// Imports
@import '../../scss_variables/variables';

.content {
    background: $gray;
    padding: 40px 0px;
    display: flex;
    justify-content: center;

    .inner {
        width: 60%;
        text-align: center;

        h2 {
            margin: 0 0;
            font-size: 34px;
        }

        p {
            font-size: 16px;
            line-height: 30px;
        }

    }
  
}