<header>
    <app-navigation></app-navigation>
</header>

<div id="jumbotron">
    <app-homepage-jumbotron></app-homepage-jumbotron>
</div>

<h1>Web Dev Posts</h1>

<div class="posts">
    <div class="row" *ngFor="let post of posts">
        <app-article-overview [post]="post"></app-article-overview>
    </div>
</div>

<footer>
    <app-navigation></app-navigation>
</footer>