// Imports
@import '../../scss_variables/variables';

#jumbotron {
    background: url('../../../../assets/homepage_bg.png');
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%; 

    #hp-teaser {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;

        div {
            margin: 0 25px;

            h1 {
                margin: 0;
                color: $white;
                font-size: 60px;
                text-shadow: 2px 2px $black;
            }
    
            p {
                margin: 0;
                color: $white;
                font-style: italic;
                font-size: 33px;
                text-shadow: 2px 2px $black;
            }
        }
       
    }

    #hp-teaser::before, #hp-teaser::after {
        content: '';
        display: block;
        width: 200px;
        height: 2px;
        background: $white;
        box-shadow: 2px 2px 0px 0px $black;
    }
}