<nav>
  <ul>
    <li><a class="nav-link" routerLink="/">Home</a></li>
    <li><a class="nav-link" routerLink="/web-dev" routerLinkActive="active">Web Dev</a></li>
    <li><a class="nav-link" routerLink="/rants" routerLinkActive="active">Rants</a></li>
    <li><a class="nav-link" routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
    <li><a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>
</nav>