// Imports
@import '../../scss_variables/variables';

// Navigation styles
nav {
    ul {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            list-style: none;

            a {
                color: $white;
                text-decoration: none;
                font-size: 14px;
            }

            :hover {
                color: $acc1;
            }

            .active {
                color: $acc1; 
            }

            ::after {
                content: '|';
                margin: 0px 15px;
                color: $white;
            } 
        }
        
        li:nth-child(5) {
            a::after {
                content: '';
                margin: 0; 
            }
        }
        
    }
}