// Imports
@import '../../scss_variables/variables';

// Header styles
header {
    height: 0;
    position: relative;
    top: 20px;
}

app-homepage-jumbotron {
    height: calc(40vh);   
    display: flex;
}

h1 {
    border-bottom: 2px solid $acc1;
    margin-bottom: 25px;
}

small {
    font-size: 14px;
}

.post {
    max-width: 75%;
    margin: 45px auto;

    .image {
        width: 25%;
        float: right;
        padding-left: 40px;

        img {
            width: 100%;
            height: auto;
        }
    }
}

// Footer styles
footer {
    background: $black;
    padding: 15px 0;
}