<header>
    <app-navigation></app-navigation>
</header>

<div id="jumbotron">
    <app-homepage-jumbotron></app-homepage-jumbotron>
</div>

<div class="post" *ngFor="let p of post">
  <h1>{{p.title}} <small>Posted: {{p.created}}</small></h1>

  <div class="image">
    <img src="http://api.jasonblanda.com{{p.logo}}" alt="">
  </div>

  <div [innerHTML]="p.body"></div>
</div>

<footer>
    <app-navigation></app-navigation>
</footer>