// Imports
@import '../../scss_variables/variables';

// Header styles
header {
    height: 0;
    position: relative;
    top: 20px;
}

app-homepage-jumbotron {
    height: calc(40vh);   
    display: flex;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

p {
    padding-bottom: 25px;
    text-align: center;
    font-size: 18px;

    a {
        color: $acc1;
    }

    :hover {
        color: $acc2;
    }
}

// Footer styles
footer {
    background: $black;
    padding: 15px 0;
}