<header>
    <app-navigation></app-navigation>
</header>

<div id="jumbotron">
    <app-homepage-jumbotron></app-homepage-jumbotron>
</div>

<h1>Contact Me</h1>
<p>Whether you want to start a project, talk speedunning or just want to say hi, feel free to drop me a line at <a _ngcontent-c11="" class="ng-tns-c11-2" href="mailto:iam@jasonblanda.com">iam@jasonblanda.com</a></p>

<footer>
    <app-navigation></app-navigation>
</footer>