@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Sarabun:400,400i,700');

// Font Definitions
$primaryFont: 'Sarabun', sans-serif;
$headingFont: 'Abril Fatface', cursive;

// Color Definitions
$white: #ffffff;
$black: #383838;
$acc1: #1B8CA7;
$acc2: #2FA741;
$gray: #EDEEEF;