<header>
    <app-navigation></app-navigation>
</header>

<div id="jumbotron">
    <app-homepage-jumbotron></app-homepage-jumbotron>
</div>

<main>
    <app-homepage-about></app-homepage-about>

    <div id="latestPosts">
        <h2>Latest Posts</h2>

        <app-homepage-articles></app-homepage-articles>
    </div>

    <div id="featuredWork">
            <h2>Some of my favorite projects</h2>
    
            <app-featured-work></app-featured-work>
        </div>
</main>

<footer>
    <app-navigation></app-navigation>
</footer>