// Imports
@import '../../scss_variables/variables';

// Header styles
header {
    height: 0;
    position: relative;
    top: 20px;
}

app-homepage-jumbotron {
    height: calc(100vh - 70px);   
    display: flex;
}

// Body Styles
#latestPosts {
    margin-bottom: 45px;
    
    h2 {
        text-align: center;
        font-size: 34px;
    }
}

#featuredWork {
    margin-bottom: 45px;

    h2 {
        text-align: center;
        font-size: 34px;
    }

    app-featured-work {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

// Footer styles
footer {
    background: $black;
    padding: 15px 0;
}