// Imports
@import '../../scss_variables/variables';

// Header styles
header {
    height: 0;
    position: relative;
    top: 20px;
}

app-homepage-jumbotron {
    height: calc(40vh);   
    display: flex;
}

h1 {
    text-align: center;
    margin-bottom: 75px;
    margin-top: 50px;
}

.posts {
    padding-bottom: 25px;
}

// Footer styles
footer {
    background: $black;
    padding: 15px 0;
}