// Imports
@import './app/core/scss_variables/variables';

/* You can add global styles to this file, and also import other style files */
html {
    background: $black;
    
    body {
        margin: 0;
        padding: 0;
        font-family: $primaryFont;
        background: $white;
        color: $black;

        h1, h2, h3, h4, h5, h6 {
            font-family: $headingFont;
            color: $black;
        }

        a {
            text-decoration: none;
        }
    }
}