// Imports
@import '../../scss_variables/variables';

.post {
    display: flex;
    max-width: 75%;
    margin: 0 auto 25px;

    .left {
        width: 30%;

        img {
            width: 100%;
            height: auto;
        }
    }

    .right {
        width: 70%;
        padding-left: 40px;

        h4 {
            font-size: 18px;
            margin: 0px;
        }

        h4.Web.Dev {
            color: $acc1;
        }

        h4.Rants {
            color: $acc2;
        }

        h3 {
            margin-top: 0px;
            font-size: 26px;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            line-height: 30px;
        }

        a.more {
            color: $acc1;
            font-family: $headingFont;
            text-align: right;
            display: block;
            font-size: 18px;
        }
    }
}