<div class="post">
  <div class="left">
      <img src="http://api.jasonblanda.com/{{post.field_logo}}" alt="">
  </div>
  <div class="right">
    <h4 class="cat {{post.field_section}}">{{post.field_section}}</h4>
    <a href="web-dev/{{post.nid}}"><h3 class="title">{{post.title}}</h3></a>
    <p>{{post.body}}</p>
    <a href="web-dev/{{post.nid}}" class="more">Read More</a>
  </div>
  
</div>
